* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
a,
nav label {
    color: #222;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

header h1 {
    font-size: 20px;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 11.5px;
    font-weight: bold;
    text-transform: uppercase;
}

h3,
h3>a {
    font-family: 'Noto Serif' serif;
    font-size: 13px;
    font-weight: 400;
}

.page-container {
    margin: 0 3vw;
    max-width: 1000px;
}

header {

    margin: 56px 0;
}

header>* {
    display: inline-block;
}

.title-section {

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

nav label, nav .submenu-item>a, .nav-item {
    font-size: 12px;
    text-transform: uppercase;
}

nav input {
    display: none;
}

.submenu {
    display: none;
    background-color: #fff;
    position: absolute;
}

.submenu-item {
    margin: 16px;
}

input:checked~.submenu, .nav-item>label:hover~.submenu, .submenu:hover {
    display: block;
}

p {
    color: #767676;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

nav>* {
    display: inline-block;
}

.hero-section {
    text-align: center;
}

.horizontal-divider {
    margin: 3vw 0;
}

.horizontal-divider hr {
    background-color: #767676;
    color: #767676;
    height: 1px;
    border: none;
}

.footer-inner {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-section {}
