* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
a,
nav label {
    color: #222;
}

a {
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header h1 {
    font-size: 20px;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 11.5px;
    font-weight: bold;
    text-transform: uppercase;
}

h3,
h3>a {
    font-family: 'Noto Serif' serif;
    font-size: 13px;
    font-weight: 400;
}

img {
    width: 100%;
}

.page-container {
    margin: 0 36px;
    width: 100%;
}

header {
    text-align: center;
    margin: 56px 0;
    position: relative;
    height: max-content;
    width: 100%;
}

header>* {
    display: block;
}

.title-section {
    position: absolute;
    float: left;
}

.nav-section {
    margin: auto;
    text-align: center;
    width: 400px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    position: relative;
}

.nav-item label, .nav-item .submenu-item>a, .nav-item a {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

.nav-item label:hover, .nav-item .submenu-item>a:hover, .nav-item a:hover {
    color: #767676;
}

nav input {
    display: none;
}

.submenu {
    display: none;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.submenu-item {
    margin: 16px;
}

input:checked~.submenu, .nav-item:hover .submenu, .submenu:hover {
    display: block;
}

p {
    color: #767676;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.2px
}

nav>* {
    display: inline-block;
}

main {
    margin: auto;
    max-width: 1600px;
}

.hero-section {
    text-align: center;
    width: 66.6667%;
    margin: auto;
}

.hero-section>*{
    margin-bottom: 36px;
}

.horizontal-divider {
    margin: 36px 0;
}

.horizontal-divider hr {
    background-color: #767676;
    color: #767676;
    height: 1px;
    border: none;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
}

.content.right {
    flex-direction: row-reverse;
}

.content .image {
    flex-basis: 33.333%;
}

.content .image>img {


}

.content .text {
    flex-basis: 66.667%
}

.content.left .text {
    margin-left: 16px;
}

.content.right .text {
    margin-right: 16px;
}

footer {
    margin: 64px 0 96px 0;
}

.footer-inner {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-section {}
